<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link href="/company/css/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="login-mods col-xs-12">
            <p> <img src="/company/img/liovinci-logo-icon.png" class="logo-icon-resize"/></p>
              
             <p> <img src="/company/img/logo-home.png" class="logo-words-resize"/></p>
            
          <div class="form-login">
            <p class="login-info">Welcome!</p>
            <input id="email" type="email" placeholder="email" class="login-field"><br>
            <input id="password" type="password" placeholder="password" class="login-field">
            <p class="forgotp"><a href="/forgotpassword" target="_blank" class="forgotpw">Forgot your password? </a></p>
            <div class="wrapper"><span class="group-btn">
                <button id="loginSubmit" class="btn btn-primary btn-md">login </button></span></div>
          </div>
        </div>
      </div>
    </div>
    <script src="/company/js/jquery-2.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/company/js/login.js"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-79954530-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>