<html>
    <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
    <meta content="utf-8" http-equiv="encoding"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@flickr" />
    <meta name="twitter:title" content="liovinci" />
    <meta name="twitter:description" content="Stay in touch with the projects you love!" />
    <meta name="twitter:image" content="http://liovinci.com/main/img/liovinci-logo-icon.png" />
    <title>liovinci</title>
    <link href="main/css/i-style.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- FAV AND TOUCH ICONS-->
    <link rel="shortcut icon" href="main/img/favicon.ico"/>
    <link rel="icon" type="image/png" href="main/img/favicon-32.png"/>
  </head>
  <body>
    <!-- menu sidebar-->
   <div id="ultimate-container">
      <div class="container-menu" role="navigation">
        <div class="navbar navbar-default navbar-fixed-top menu-color" >
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display-->
            <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed toggle-cust" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar bar-cust"></span>
            <span class="icon-bar bar-cust"></span>
            <span class="icon-bar bar-cust"></span>
          </button>
            <a href="/" class="navbar-brand brand"><img src="main/img/logo-home.png" alt="liovinci" class="logo-resize header-logo"/></a>
            </div>
             <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-right">
              <li >
                <a href="/" class="menu-title"><img class="menu-icon" src="main/img/liovinci-logo-white.png" /> home</a>
            </li>
            </ul>
            </div>
          </div>
          <!-- /.container-fluid-->
        </div>
      </div>
      <!-- END MENU-->
       <div id="container-hero">
        <div class="hero-body">
          <p class="divider"></p>
          <div class="text-center">
          <h3 class="hero-slogan"> Check out the latest phase updates and click on them to visit the project! </h3>
            <h3 class="hero-slogan"> Stay in touch with the projects you </h3><span><i class="heart-color fa fa-heart fa-2x"></i></span>
           
            <div class="text-center"> <a href="https://itunes.apple.com/us/app/liovinci/id1088105850" onclick="ga('send','event','appstore','/applestoretop')"> <img class="playstore" src="/main-i/images/apple.png"/> <a href="https://play.google.com/store/apps/details?id=com.liovinci.liovinci" onclick="ga('send','event','appstore','/playstoretop')" target="_blank" class="android-app appstore"><img src="main/img/playstore-btn.png" alt="liovinci" class="store"/></a></div>
          </div>
          </p>
        </div>
        
      </div>
      <!-- BEGIN PROJECT PHASES-->
      <section id="cd-timeline" class="cd-container"></section>
      <!-- cd-timeline-->
      <!-- END PROJECT PHASES-->
      <!--
      =========================
      == BEGIN TO TOP BUTTON ==
      =========================
      -->
      <div id="container-to-top"><a id="to-top"><span class="fa fa-arrow-up"></span></a></div>
      <!--
      ========================
      ==/ END TO TOP BUTTON ==
      ========================
      -->
      <!-- BEGIN OF FOOTER-->
      <footer id="main-footer" class="centered">
        <div class="container-footer">
          <div class="footer-content col-lg-12 centered size-footer"><img src="main/img/liovinci-logo-icon.png" alt="Footer App Icon" class="slogan-image"/>
            
            <div class="text-center"><a href="https://itunes.apple.com/us/app/liovinci/id1088105850" onclick="ga('send','event','appstore','/applestoretop')"> <img class="playstore" src="/main-i/images/apple.png"/><a href="https://play.google.com/store/apps/details?id=com.liovinci.liovinci" target="_blank" onclick="ga('send','event','appstore','/googleplay')" class="android-app appstore"><img src="main/img/playstore-btn.png" alt="liovinci" class="store"/></a></div>
            <h3> Are you a company? <a href="#" onclick="ga('send','event','contact','/companycontact')" class="contact-trigger">Reach out to us here</a></h1>
          </div>
          <!-- / .footer-content-->
          <hr/><br/><br/>
          <div class="row">
            <ul class="footer-nav all-caps size-footer">
              <li><a href="/privacypolicy" onclick="ga('send','event','legal','/privacypolicy')" target="_blank">Privacy</a></li>
              <li><a href="/terms" onclick="ga('send','event','legal','/terms')" target="_blank">Terms</a></li>
              <li><a href="/press" onclick="ga('send','event','contact','/press')">Press</a></li>
              <li><a href="#" onclick="ga('send','event','contact','/jobs')" class="contact-trigger">Jobs</a></li>
              <li><a href="#" onclick="ga('send','event','contact','/contact')" class="contact-trigger">Contact</a></li>
            </ul>
            <!-- / .footer-nav-->
            <ul class="footer-social size-footer">
              <li><a href="http://www.facebook.com/liovinci" onclick="ga('send','event','socialmedia','facebook.com/liovinci')" target="_blank"><span class="fa fa-facebook fa-facebook-color"></span></a></li>
              <li><a href="http://www.twitter.com/liovincis" onclick="ga('send','event','socialmedia','twitter.com/liovincis')" target="_blank"><span class="fa fa-twitter fa-twitter-color"></span></a></li>
              <li><a href="http://www.instagram.com/liovincis" onclick="ga('send','event','socialmedia','instagram.com/liovincis')" target="_blank"><span class="fa fa-instagram fa-instagram-color"></span></a></li>
            </ul>
            <!-- / .footer-social-->
            <div class="copyright size-footer">
              <p>Copyright 2016 liovinci - All rights reserved.</p>
              <!-- BEGIN language popover-->
              <!-- END language popover-->

      <div><div><div id="secret-info" data-info="{{ json phases }}"></div></div></div>
            </div>
            <!-- / .copyright-->
          </div>
          <!-- / .row-->
        </div>

     
        <!-- / .container-->
      </footer>
      <!-- END OF FOOTER-->
     
      <!-- IMAGE MODAL-->
      <!-- Creates the bootstrap modal where the image will appear-->
      <div id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body"><img id="imagepreview" src="" class="modal-size img-responsive"/></div>
          </div>
        </div>
      </div>
      <!--
      =================================
      == BEGIN CONTACT MODAL CONTENT ==
      =================================
      -->
      <div id="contactmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
        <div class="contactmodal-dialog">
          <div class="contactmodal-content">
            <div class="contactmodal-header">
              <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              <h2 class="all-caps"> How can we help? </h2>
              <p>For press and companies inquiries please include "press" or "company" in the subject line.</p>
              <p>For any feedback or questions, ask away. Looking forward to hearing from you!</p>
            </div>
            <div class="contactmodal-body">
              <div id="wufoo-z1vcprf80it3bht">Contact Us <a href="https://liovincis.wufoo.com/forms/z1vcprf80it3bht" target="_blank">Here </a> or by emailing liovincihelp@gmail.com!</div>
              <script type="text/javascript">

                var isChromium = window.chrome,
                    winNav = window.navigator,
                    vendorName = winNav.vendor,
                    isOpera = winNav.userAgent.indexOf("OPR") > -1,
                    isIEedge = winNav.userAgent.indexOf("Edge") > -1,
                    isIOSChrome = winNav.userAgent.match("CriOS");

                if(isIOSChrome){
                  runModalContact();
                   // is Google Chrome on IOS
                } else if(isChromium !== null && isChromium !== undefined && vendorName === "Google Inc." && isOpera == false && isIEedge == false) {
                   // is Google Chrome
                   runModalContact();
                } else { 
                   // not Google Chrome 
                   runModalContactBackup();
                }


                function runModalContactBackup() {
                   $(document).ready(function () {
                      runModalContact();
                   });
                }
                          
                function runModalContact() {
                   var z1vcprf80it3bht;(function(d, t) {
                  var s = d.createElement(t), options = {
                  'userName':'liovincis',
                  'formHash':'z1vcprf80it3bht',
                  'autoResize':true,
                  'height':'577',
                  'async':true,
                  'host':'wufoo.com',
                  'header':'show',
                  'ssl':true};
                  s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                  s.onload = s.onreadystatechange = function() {
                  var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                  try { z1vcprf80it3bht = new WufooForm();z1vcprf80it3bht.initialize(options);z1vcprf80it3bht.display(); } catch (e) {}};
                  var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                  })(document, 'script');
                }   

    
              </script>
            </div>
          </div>
        </div>
      </div>
      <!--
      ================================
      ==/ END CONTACT MODAL CONTENT ==
      ================================
      -->
      <!-- END OF IMAGE MODAL-->
    </div>
    <!-- END SINGLE PAGE-->
    <script src="/main/js/jquery-2.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/main/js/i.js"></script>
    <script src="/main/js/phases.js"></script>
    <!-- Go to www.addthis.com/dashboard to customize your tools-->
    <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5216d2b824b31295"></script>
    <!-- Begin Urips Analytics Code-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-77712847-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>