body {
     background: #0e90d8 !important; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #0e90d8, #0b507f) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #0e90d8, #0b507f)!important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #0e90d8, #0b507f)!important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #0e90d8 , #0b507f)!important;
    text-align: center;/* For browsers that do not support gradients */
    color: #ffffff;  
}


@font-face {
    font-family: 'lato-bold'; /*a name to be used later*/
    src: url('fonts/Lato-Bold.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'lato-regular'; /*a name to be used later*/
    src: url('fonts/Lato-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'lato-italic'; /*a name to be used later*/
    src: url('fonts/Lato-Italic.ttf'); /*URL to font*/
}

.container {
    text-align: center;
    width: 100%;
    height: 100%;
}

.forgot-password {
     margin-top: 60px !important;
    text-align: center;

}
   
.logo-words-resize {
    max-width: 120px;
    margin-bottom: 50px;
}

.logo-icon-resize {
    max-width: 70px;
}

.pwd-input {
    margin-top: 20px;
    width: 300px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    border: .8px solid #ffffff; /*used to remove gray border for some reason */
    color: #9e9e9e;
    font-size: 14px;
    font-family: 'lato-bold';
}

.forgot-info {
    margin: 0 auto;
    max-width: 300px;
    color: #fcfcfc;
    font-size: 14px;
    font-family: 'lato-regular';
    text-align: center;
}

.password-btn {
    margin-top: 120px;
    width: 140px;
    padding-bottom: 10px;
    padding-top: 10px;
     border-radius: 20px; /* change to a higher px to make more round */
    border: .8px solid #ffffff;
    font-size: 12px;
    font-family: 'lato-regular';
    color: #fcfcfc
}

textarea:focus, input:focus{
    outline: none;
}